/*для ie*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		padding-right: 10px;
	}
}

@media screen and (max-width: 1209px) {
	.accurate-sorting-box .btn-group {
		width: 23%;
	}

	.result-wrapper {
		width: 98%;
	}
}

@media screen and (max-width: 1170px) {
	.panel-body .left:nth-child(2) {
		margin-left: 15%;
	}

	.find-arrow {
		right: -195px;
	}

	.result-wrapper {
		width: 97%;
	}
}

@media screen and (max-width: 1100px) {
	.blue-caret {
		margin-right: 10px;
	}

	.dropdown-base {
		padding-left: 10px;
	}

	.dropdown-menu-selected.dropdown-menu > li > a {
		padding: 3px 10px;
	}

	.panel-body .left:nth-child(2) {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1030px) {
	.panel-body .left:nth-child(2) {
		margin-left: 5%;
	}
}

@media screen and (max-width: 975px) {
	.panel-body form .left {
		width: 100%;
	}

	.panel-body .left:nth-child(2) {
		margin-left: 0;
		margin-top: -8px;
	}

	.find-arrow {
		right: -180px;
		width: 200px;
	}

	.quantity-found {
		margin-left: 27px;
	}
}

@media screen and (max-width: 900px) {
	.register-box a:first-child {
		margin-left: 7%;
	}

	.register-box a:last-child {
		margin-right: 7%;
	}

	nav li {
		width: 25% !important;
	}

	.submenu, .pointer-menu {
		display: none;
	}

	header {
		border-bottom: 1px solid #dddede;
	}

	.box-filter-select .btn-group {
		width: 100%;
	}

	.accurate-sorting-box .btn-group {
		width: 50%;
	}

	.accurate-select .btn-group:first-child, .accurate-select .btn-group:nth-child(2) {
		margin-bottom: 15px;
	}

	.result-wrapper .col-sm-4 {
		width: 50%;
	}
}

@media screen and (max-width: 850px) {
	.partner-link {
		display: none;
	}

	.logo-box {
		width: 20%
	}

	.register-box {
		width: 27%;
		margin-left: 3%;
	}

	.box-place {
		width: 20%;
	}

	.result-wrapper, .sorting-wrapper {
		width: 96%;
	}
}

@media screen and (max-width: 800px) {
	.result-wrapper, .sorting-wrapper {
		width: 94%;
	}
}

@media screen and (max-width: 768px) {
	.box-place, .partner-link, .register-box, .lang-box {
		display: none;
	}

	.logo-box, .logo-box img {
		width: 145px;
		float: left;
	}

	nav .menu {
		display: none;
	}

	.top-header {
		margin: 15px auto 18px;
	}

	.burger-menu {
		display: block;
	}

	nav.container-block {
		padding: 0;
	}

	nav li {
		width: 100% !important;
		border-top: 1px solid #dddede;
	}

	nav li a {
		padding: 15px 0 !important;
	}

	nav li a span {
		border: none;
	}

	.footer-wrapper-link {
		margin-top: 10px;
	}

	.filter-box .panel-group {
		min-width: 100%;
		margin-top: 25px;
		display: none;
	}
	.sorting-wrapper{
		display: none;
	}

	.find-arrow {
		display: none;
	}

	.button-sorting-box input, .button-filter-box input {
		font-size: 14px;
	}

	.accurate-sorting-box p {
		display: none;
	}

	.accurate-select {
		width: 100%;
	}

	.result-wrapper, .sorting-wrapper {
		width: 100%;
	}

	.result-wrapper {
		margin-top: 40px;
	}

	.result-wrapper .col-sm-4 {
		width: 100%;
	}

	.result-wrapper .clearfix {
		width: 550px;
		margin: auto;
	}

	.pagination-wrapper {
		margin: 0 0 40px 0;
	}

	.accurate-sorting-box .clearfix {
		width: 389px;
		margin: 20px auto;
	}

	.accurate-sorting-box {
		margin-top: 0;
	}
	.filter-box  .button-filter-box{
	    display: none;
    }
}

@media screen and (max-width: 649px) {
	.result-wrapper .col-sm-4 {
		width: 100%;
	}
}

@media screen and (max-width: 586px) {
	.result-wrapper .clearfix {
		width: 270px;
		margin: auto;
	}

	.result-item {
		margin: 0 auto 35px;
		height: auto;
	}
}

@media screen and (max-width: 520px) {
	.col-xxs {
		width: 100%;
	}

	.footer-first-block, .footer-second-block, .footer-third-block {
		width: 140px;
	}

	.lofo-footer, .footer-social-network {
		width: 100%;
		float: none;
		text-align: center;
	}

	.footer-social-network {
		margin-top: 30px;
	}

	.accurate-select .dropdown-base {
		max-width: 100%;
	}

	.accurate-select .btn-group{
		max-width: 100%;
		width: 100%;
    }
	.accurate-sorting-box .clearfix {
		width: 100%;
		margin: 0 auto 20px;
	}
    .accurate-sorting-box .button-sorting{
	    margin: 0;
	    float: left;
	    width: 49%;
    }

	.accurate-sorting-box .button-sorting input{
		width: 100%;
	}

	.accurate-sorting-box .button-sorting-map{
		float: right;
	}

	.accurate-sorting-box .button-sorting-list{
		float: left;
	}
	.subsections-link p {
		width: 49%;
		margin-left: 0;
		margin-bottom: 20px;
		text-align: center;
	}
}

@media screen and (max-width: 332px) {
	.register-box-mobile a:last-child p {
		margin: 10px 0 0 0;
		display: block;
	}

	.register-box-mobile {
		width: 50%;
		padding: 15px 0;
	}
	.accurate-sorting-box .button-sorting {
		float: none;
		width: 100%;
		margin: 10px 0;
	}

}

@media screen and (max-width: 310px) {
	.result-wrapper .clearfix {
		width: 100%;
	}
}