/*для ie*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		padding-right: 10px;
	}
}


@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

@media screen and (max-width: 1209px) {
	.accurate-sorting-box .btn-group {
		width: 23%;
	}

	.result-wrapper {
		width: 98%;
	}
}

@media screen and (max-width: 1170px) {
	.panel-body .left:nth-child(2) {
		margin-left: 15%;
	}

	.find-arrow {
		right: -195px;
	}

	.result-wrapper {
		width: 97%;
	}

}

@media screen and (max-width: 1100px) {
	.blue-caret {
		margin-right: 10px;
	}

	.dropdown-base {
		padding-left: 10px;
	}

	.dropdown-menu-selected.dropdown-menu > li > a {
		padding: 3px 10px;
	}

	.panel-body .left:nth-child(2) {
		margin-left: 10%;
	}

    .box-button-link{
	    width: 100%;
	    margin-bottom: 20px;
    }
	.page-product h1{
		width: 100%;
	}
	.back-button {
		float: left;
		margin-right: 0;
	}
}

@media screen and (max-width: 1030px) {
	.panel-body .left:nth-child(2) {
		margin-left: 5%;
	}
}

@media (max-width: 992px) {
	.text-important-event, .date-important-event  {
		font-size: 14px;
	}
	.place-important-event {
		font-size: 12px;
	}
}

@media screen and (max-width: 975px) {
	.panel-body form .left {
		width: 100%;
	}

	.panel-body .left:nth-child(2) {
		margin-left: 0;
		margin-top: -8px;
	}

	.find-arrow {
		right: -180px;
		width: 200px;
	}

	.quantity-found {
		margin-left: 27px;
	}

	.contacts-product-box .address-block, .contacts-product-box .phone-block{
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 900px) {
	.register-box a:first-child {
		margin-left: 7%;
	}

	.register-box a:last-child {
		margin-right: 7%;
	}

	nav li {
		width: 25% !important;
	}

	.submenu, .pointer-menu {
		display: none;
	}

	header {
		border-bottom: 1px solid #dddede;
	}

	.box-filter-select .btn-group {
		width: 100%;
	}

	.accurate-sorting-box .btn-group {
		width: 50%;
	}

	.accurate-select .btn-group:first-child, .accurate-select .btn-group:nth-child(2) {
		margin-bottom: 15px;
	}

	.result-wrapper .col-sm-4 {
		width: 50%;
	}

	.btn-country, .btn-region {
		margin-top: -100px;
	}

	.btn-city, .btn-metro {
		margin-top: 80px;
	}

	.btn-country + .dropdown-menu, .btn-region + .dropdown-menu {
		margin-top: -60px;
	}

	.accurate-sorting-box {
		margin-top: 15px;
	}
}

@media screen and (max-width: 850px) {
	.partner-link {
		display: none;
	}

	.logo-box {
		width: 20%
	}

	.register-box {
		width: 27%;
		margin-left: 3%;
	}

	.box-place {
		width: 20%;
	}

	.result-wrapper, .sorting-wrapper {
		width: 96%;
	}
}

@media screen and (max-width: 800px) {
	.result-wrapper, .sorting-wrapper {
		width: 94%;
	}
}

@media screen and (max-width: 768px) {
	.box-place, .partner-link, .register-box, .lang-box {
		display: none;
	}

	.logo-box, .logo-box img {
		width: 145px;
		float: left;
	}

	nav .menu {
		display: none;
	}

	.top-header {
		margin: 15px auto 18px;
	}

	.burger-menu {
		display: block;
	}

	nav.container-block {
		padding: 0;
	}

	nav li {
		width: 100% !important;
		border-top: 1px solid #dddede;
	}

	nav li a {
		padding: 15px 0 !important;
	}

	nav li a span {
		border: none;
	}

	.footer-wrapper-link {
		margin-top: 10px;
	}

	.filter-box .panel-group {
		min-width: 100%;
		margin-top: 25px;
		display: none;
	}

	.sorting-wrapper {
		display: none;
	}

	.find-arrow {
		display: none;
	}

	.button-sorting-box input, .button-filter-box input {
		font-size: 14px;
	}

	.accurate-sorting-box p {
		display: none;
	}

	.accurate-select {
		width: 100%;
	}

	.result-wrapper, .sorting-wrapper {
		width: 100%;
	}

	.result-wrapper {
		margin-top: 40px;
	}

	.result-wrapper .col-sm-4 {
		width: 100%;
	}

	.result-wrapper .clearfix {
		width: 550px;
		margin: auto;
	}

	.pagination-wrapper {
		margin: 0 0 40px 0;
	}

	.accurate-sorting-box .clearfix {
		width: 389px;
		margin: 10px auto 10px;
	}

	.accurate-sorting-box {
		margin-top: -30px;
	}

	.subsections-link {
		margin-top: 20px;
	}

	.filter-box .button-filter-box {
		display: none;
	}

	.button-mobile-filter-box {
		display: block;
	}

	.mobile-hidden {
		display: none;
	}

	.pagination > li > a {
		padding: 1px 1px !important;
		margin: 0 2px;
	}

	.contacts-product-box, .description-product-box{
		float: none;
		width: 100%;
	}

	.description-product-box{
		margin-top: 15px;
	}
	.other-property {
		margin-top: 10px;
	}
	.review-item {
		margin-bottom: 20px;
	}
	.modal-dialog {
		margin: 10px auto;
	}

    .sticky-wrapper{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    margin-top: 67px;
    }
	.menu-place a span{
		border-bottom: none !important;
	}
    .important-event-box img {
	    width: 100%;
	    float: none;
	    margin: auto;
    }

	.index-page .pagination-wrapper{
		margin-top: 25px;
		padding-bottom: 15px;
	}

}


@media screen and (max-width: 649px) {
	.result-wrapper .col-sm-4 {
		width: 100%;
	}
}

@media screen and (max-width: 586px) {
	.result-wrapper .clearfix {
		width: 270px;
		margin: auto;
	}

	.result-item {
		margin: 0 auto 35px;
		height: auto;
	}

    .map-container{
	    display: none;
    }
    .large-photo-container{
	    width: 100%;
	    float: none;
    }
	.review-block h2{
		width: 100%;
	}
	.button-view-reviews{
		margin-left: 0;
		margin-top: 20px;
	}
	.give-feedback{
		margin-top: 25px;
	}
    .similar-products-block h2{
	    margin-bottom: 20px;
    }
	.button-similar-products {
		 margin-left: 0;
		 float: none;
	}
}

@media screen and (max-width: 520px) {
	.col-xxs {
		width: 100%;
	}

	.footer-first-block, .footer-second-block, .footer-third-block {
		width: 140px;
	}

	.lofo-footer, .footer-social-network {
		width: 100%;
		float: none;
		text-align: center;
	}

	.footer-social-network {
		margin-top: 30px;
	}

	.accurate-select .dropdown-base {
		max-width: 100%;
	}

	.accurate-select .btn-group {
		max-width: 100%;
		width: 100%;
	}

	.accurate-sorting-box .clearfix {
		width: 100%;
		margin: 0 auto 20px;
	}

	.accurate-sorting-box .button-sorting {
		margin: 0;
		float: left;
		width: 49%;
	}

	.accurate-sorting-box .button-sorting input {
		width: 100%;
	}

	.accurate-sorting-box .button-sorting-map {
		float: right;
	}

	.accurate-sorting-box .button-sorting-list {
		float: left;
	}

	.subsections-link {
		margin-top: 10px;
		margin-bottom: 20px;
		padding-bottom: 30px;
	}

	.subsections-link p {
		width: 49%;
		margin-left: 0;
		margin-bottom: 20px;
		text-align: center;
	}

	.btn-country {
		margin-top: -222px;
	}

	.btn-region {
		margin-top: -155px;
	}

	.btn-city {
		margin-top: -5px;
	}

	.btn-metro {
		margin-top: 90px;
	}

	.btn-region + .dropdown-menu {
		margin-top: -114px;
	}

	.btn-country + .dropdown-menu {
		margin-top: -181px;
	}

	.accurate-sorting-box .clearfix {
		margin: 0 auto -20px;
	}
    .button-send{
	    float: none;
	    margin-top: 20px;
    }
	.modal-content {
		padding: 10px 16px;
	}
	.close-form {
		margin-right: 0;
	}
	textarea.input-review{
		height: 150px;
	}
}


@media screen and (max-width: 500px) {
	.change-link {
		float: left;
		margin: 0 0 20px;
		width: 100%;
	}
	.teachers-wrapper{
		width: 100%;
	}
	.button-subtitle {
		float: none;
		width: 100%;
		margin: 10px 0;
	}
	.subtitle-index-page h2{
		float: none;
	}
}

@media screen and (max-width: 380px) {
	.give-feedback {
		margin-top: 20px;
		margin-left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 332px) {
	.register-box-mobile a:last-child p {
		margin: 10px 0 0 0;
		display: block;
	}

	.register-box-mobile {
		width: 50%;
		padding: 15px 0;
	}

	.accurate-sorting-box .button-sorting {
		float: none;
		width: 100%;
		margin: 10px 0;
	}

}

@media screen and (max-width: 310px) {
	.result-wrapper .clearfix {
		width: 100%;
	}
}




